@media(max-width:835px){
    .header{
        margin: auto;
    }

    .segundaparte{
        height: 270px;
        width: 450px;
    }

    .primeiraParte{
        display: flex;
        align-items: center;
        width: 300px;
    }
}

@media(max-width:415px){
    .alinhamentoHeader{
        max-width: 414px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .segundaparte{
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 150px;
    }

    .nucleo{
        margin-top: 19px;
    }
}